<main>
  <div class="container">
    <div class="circle-container">
      <div class="circle"></div>
    </div>
    <div class="circle-container">
      <div class="circle"></div>
    </div>
    <div class="circle-container">
      <div class="circle"></div>
    </div>
    <div class="circle-container">
      <div class="circle"></div>
    </div>
    <div class="circle-container">
      <div class="circle"></div>
    </div>
    <div class="circle-container">
      <div class="circle"></div>
    </div>
    <div class="circle-container">
      <div class="circle"></div>
    </div>
    <div class="circle-container">
      <div class="circle"></div>
    </div>
    <div class="circle-container">
      <div class="circle"></div>
    </div>
    <div class="circle-container">
      <div class="circle"></div>
    </div>
    <div class="circle-container">
      <div class="circle"></div>
    </div>
    <div class="circle-container">
      <div class="circle"></div>
    </div>
    <div class="circle-container">
      <div class="circle"></div>
    </div>
    <div class="circle-container">
      <div class="circle"></div>
    </div>
    <div class="circle-container">
      <div class="circle"></div>
    </div>
    <div class="circle-container">
      <div class="circle"></div>
    </div>
    <div class="circle-container">
      <div class="circle"></div>
    </div>
    <div class="circle-container">
      <div class="circle"></div>
    </div>
    <div class="circle-container">
      <div class="circle"></div>
    </div>
    <div class="circle-container">
      <div class="circle"></div>
    </div>
    <div class="circle-container">
      <div class="circle"></div>
    </div>
    <div class="circle-container">
      <div class="circle"></div>
    </div>
    <div class="circle-container">
      <div class="circle"></div>
    </div>
    <div class="circle-container">
      <div class="circle"></div>
    </div>
    <div class="circle-container">
      <div class="circle"></div>
    </div>
    <div class="circle-container">
      <div class="circle"></div>
    </div>
    <div class="circle-container">
      <div class="circle"></div>
    </div>
    <div class="circle-container">
      <div class="circle"></div>
    </div>
    <div class="circle-container">
      <div class="circle"></div>
    </div>
    <div class="circle-container">
      <div class="circle"></div>
    </div>
    <div class="circle-container">
      <div class="circle"></div>
    </div>
    <div class="circle-container">
      <div class="circle"></div>
    </div>
    <div class="circle-container">
      <div class="circle"></div>
    </div>
    <div class="circle-container">
      <div class="circle"></div>
    </div>
    <div class="circle-container">
      <div class="circle"></div>
    </div>
    <div class="circle-container">
      <div class="circle"></div>
    </div>
    <div class="circle-container">
      <div class="circle"></div>
    </div>
    <div class="circle-container">
      <div class="circle"></div>
    </div>
    <div class="circle-container">
      <div class="circle"></div>
    </div>
    <div class="circle-container">
      <div class="circle"></div>
    </div>
    <div class="circle-container">
      <div class="circle"></div>
    </div>
    <div class="circle-container">
      <div class="circle"></div>
    </div>
    <div class="circle-container">
      <div class="circle"></div>
    </div>
    <div class="circle-container">
      <div class="circle"></div>
    </div>
    <div class="circle-container">
      <div class="circle"></div>
    </div>
    <div class="circle-container">
      <div class="circle"></div>
    </div>
    <div class="circle-container">
      <div class="circle"></div>
    </div>
    <div class="circle-container">
      <div class="circle"></div>
    </div>
    <div class="circle-container">
      <div class="circle"></div>
    </div>
    <div class="circle-container">
      <div class="circle"></div>
    </div>
    <div class="circle-container">
      <div class="circle"></div>
    </div>
    <div class="circle-container">
      <div class="circle"></div>
    </div>
    <div class="circle-container">
      <div class="circle"></div>
    </div>
    <div class="circle-container">
      <div class="circle"></div>
    </div>
    <div class="circle-container">
      <div class="circle"></div>
    </div>
    <div class="circle-container">
      <div class="circle"></div>
    </div>
    <div class="circle-container">
      <div class="circle"></div>
    </div>
    <div class="circle-container">
      <div class="circle"></div>
    </div>
    <div class="circle-container">
      <div class="circle"></div>
    </div>
    <div class="circle-container">
      <div class="circle"></div>
    </div>
    <div class="circle-container">
      <div class="circle"></div>
    </div>
    <div class="circle-container">
      <div class="circle"></div>
    </div>
    <div class="circle-container">
      <div class="circle"></div>
    </div>
    <div class="circle-container">
      <div class="circle"></div>
    </div>
    <div class="circle-container">
      <div class="circle"></div>
    </div>
    <div class="circle-container">
      <div class="circle"></div>
    </div>
    <div class="circle-container">
      <div class="circle"></div>
    </div>
    <div class="circle-container">
      <div class="circle"></div>
    </div>
    <div class="circle-container">
      <div class="circle"></div>
    </div>
    <div class="circle-container">
      <div class="circle"></div>
    </div>
    <div class="circle-container">
      <div class="circle"></div>
    </div>
    <div class="circle-container">
      <div class="circle"></div>
    </div>
    <div class="circle-container">
      <div class="circle"></div>
    </div>
    <div class="circle-container">
      <div class="circle"></div>
    </div>
    <div class="circle-container">
      <div class="circle"></div>
    </div>
    <div class="circle-container">
      <div class="circle"></div>
    </div>
    <div class="circle-container">
      <div class="circle"></div>
    </div>
    <div class="circle-container">
      <div class="circle"></div>
    </div>
    <div class="circle-container">
      <div class="circle"></div>
    </div>
    <div class="circle-container">
      <div class="circle"></div>
    </div>
    <div class="circle-container">
      <div class="circle"></div>
    </div>
    <div class="circle-container">
      <div class="circle"></div>
    </div>
    <div class="circle-container">
      <div class="circle"></div>
    </div>
    <div class="circle-container">
      <div class="circle"></div>
    </div>
    <div class="circle-container">
      <div class="circle"></div>
    </div>
    <div class="circle-container">
      <div class="circle"></div>
    </div>
    <div class="circle-container">
      <div class="circle"></div>
    </div>
    <div class="circle-container">
      <div class="circle"></div>
    </div>
    <div class="circle-container">
      <div class="circle"></div>
    </div>
    <div class="circle-container">
      <div class="circle"></div>
    </div>
    <div class="circle-container">
      <div class="circle"></div>
    </div>
    <div class="circle-container">
      <div class="circle"></div>
    </div>
    <div class="circle-container">
      <div class="circle"></div>
    </div>
    <div class="circle-container">
      <div class="circle"></div>
    </div>
    <div class="circle-container">
      <div class="circle"></div>
    </div>
    <div class="circle-container">
      <div class="circle"></div>
    </div>
    <div class="circle-container">
      <div class="circle"></div>
    </div>
    <div class="circle-container">
      <div class="circle"></div>
    </div>
    <div class="circle-container">
      <div class="circle"></div>
    </div>
    <div class="circle-container">
      <div class="circle"></div>
    </div>
    <app-banner></app-banner>
  </div>
  <div class="container">
    <div class="circle-container">
      <div class="circle"></div>
    </div>
    <div class="circle-container">
      <div class="circle"></div>
    </div>
    <div class="circle-container">
      <div class="circle"></div>
    </div>
    <div class="circle-container">
      <div class="circle"></div>
    </div>
    <div class="circle-container">
      <div class="circle"></div>
    </div>
    <div class="circle-container">
      <div class="circle"></div>
    </div>
    <div class="circle-container">
      <div class="circle"></div>
    </div>
    <div class="circle-container">
      <div class="circle"></div>
    </div>
    <div class="circle-container">
      <div class="circle"></div>
    </div>
    <div class="circle-container">
      <div class="circle"></div>
    </div>
    <div class="circle-container">
      <div class="circle"></div>
    </div>
    <div class="circle-container">
      <div class="circle"></div>
    </div>
    <div class="circle-container">
      <div class="circle"></div>
    </div>
    <div class="circle-container">
      <div class="circle"></div>
    </div>
    <div class="circle-container">
      <div class="circle"></div>
    </div>
    <div class="circle-container">
      <div class="circle"></div>
    </div>
    <div class="circle-container">
      <div class="circle"></div>
    </div>
    <div class="circle-container">
      <div class="circle"></div>
    </div>
    <div class="circle-container">
      <div class="circle"></div>
    </div>
    <div class="circle-container">
      <div class="circle"></div>
    </div>
    <div class="circle-container">
      <div class="circle"></div>
    </div>
    <div class="circle-container">
      <div class="circle"></div>
    </div>
    <div class="circle-container">
      <div class="circle"></div>
    </div>
    <div class="circle-container">
      <div class="circle"></div>
    </div>
    <div class="circle-container">
      <div class="circle"></div>
    </div>
    <div class="circle-container">
      <div class="circle"></div>
    </div>
    <div class="circle-container">
      <div class="circle"></div>
    </div>
    <div class="circle-container">
      <div class="circle"></div>
    </div>
    <div class="circle-container">
      <div class="circle"></div>
    </div>
    <div class="circle-container">
      <div class="circle"></div>
    </div>
    <div class="circle-container">
      <div class="circle"></div>
    </div>
    <div class="circle-container">
      <div class="circle"></div>
    </div>
    <div class="circle-container">
      <div class="circle"></div>
    </div>
    <div class="circle-container">
      <div class="circle"></div>
    </div>
    <div class="circle-container">
      <div class="circle"></div>
    </div>
    <div class="circle-container">
      <div class="circle"></div>
    </div>
    <div class="circle-container">
      <div class="circle"></div>
    </div>
    <div class="circle-container">
      <div class="circle"></div>
    </div>
    <div class="circle-container">
      <div class="circle"></div>
    </div>
    <div class="circle-container">
      <div class="circle"></div>
    </div>
    <div class="circle-container">
      <div class="circle"></div>
    </div>
    <div class="circle-container">
      <div class="circle"></div>
    </div>
    <div class="circle-container">
      <div class="circle"></div>
    </div>
    <div class="circle-container">
      <div class="circle"></div>
    </div>
    <div class="circle-container">
      <div class="circle"></div>
    </div>
    <div class="circle-container">
      <div class="circle"></div>
    </div>
    <div class="circle-container">
      <div class="circle"></div>
    </div>
    <div class="circle-container">
      <div class="circle"></div>
    </div>
    <div class="circle-container">
      <div class="circle"></div>
    </div>
    <div class="circle-container">
      <div class="circle"></div>
    </div>
    <div class="circle-container">
      <div class="circle"></div>
    </div>
    <div class="circle-container">
      <div class="circle"></div>
    </div>
    <div class="circle-container">
      <div class="circle"></div>
    </div>
    <div class="circle-container">
      <div class="circle"></div>
    </div>
    <div class="circle-container">
      <div class="circle"></div>
    </div>
    <div class="circle-container">
      <div class="circle"></div>
    </div>
    <div class="circle-container">
      <div class="circle"></div>
    </div>
    <div class="circle-container">
      <div class="circle"></div>
    </div>
    <div class="circle-container">
      <div class="circle"></div>
    </div>
    <div class="circle-container">
      <div class="circle"></div>
    </div>
    <div class="circle-container">
      <div class="circle"></div>
    </div>
    <div class="circle-container">
      <div class="circle"></div>
    </div>
    <div class="circle-container">
      <div class="circle"></div>
    </div>
    <div class="circle-container">
      <div class="circle"></div>
    </div>
    <div class="circle-container">
      <div class="circle"></div>
    </div>
    <div class="circle-container">
      <div class="circle"></div>
    </div>
    <div class="circle-container">
      <div class="circle"></div>
    </div>
    <div class="circle-container">
      <div class="circle"></div>
    </div>
    <div class="circle-container">
      <div class="circle"></div>
    </div>
    <div class="circle-container">
      <div class="circle"></div>
    </div>
    <div class="circle-container">
      <div class="circle"></div>
    </div>
    <div class="circle-container">
      <div class="circle"></div>
    </div>
    <div class="circle-container">
      <div class="circle"></div>
    </div>
    <div class="circle-container">
      <div class="circle"></div>
    </div>
    <div class="circle-container">
      <div class="circle"></div>
    </div>
    <div class="circle-container">
      <div class="circle"></div>
    </div>
    <div class="circle-container">
      <div class="circle"></div>
    </div>
    <div class="circle-container">
      <div class="circle"></div>
    </div>
    <div class="circle-container">
      <div class="circle"></div>
    </div>
    <div class="circle-container">
      <div class="circle"></div>
    </div>
    <div class="circle-container">
      <div class="circle"></div>
    </div>
    <div class="circle-container">
      <div class="circle"></div>
    </div>
    <div class="circle-container">
      <div class="circle"></div>
    </div>
    <div class="circle-container">
      <div class="circle"></div>
    </div>
    <div class="circle-container">
      <div class="circle"></div>
    </div>
    <div class="circle-container">
      <div class="circle"></div>
    </div>
    <div class="circle-container">
      <div class="circle"></div>
    </div>
    <div class="circle-container">
      <div class="circle"></div>
    </div>
    <div class="circle-container">
      <div class="circle"></div>
    </div>
    <div class="circle-container">
      <div class="circle"></div>
    </div>
    <div class="circle-container">
      <div class="circle"></div>
    </div>
    <div class="circle-container">
      <div class="circle"></div>
    </div>
    <div class="circle-container">
      <div class="circle"></div>
    </div>
    <div class="circle-container">
      <div class="circle"></div>
    </div>
    <div class="circle-container">
      <div class="circle"></div>
    </div>
    <div class="circle-container">
      <div class="circle"></div>
    </div>
    <div class="circle-container">
      <div class="circle"></div>
    </div>
    <div class="circle-container">
      <div class="circle"></div>
    </div>
    <div class="circle-container">
      <div class="circle"></div>
    </div>
    <div class="circle-container">
      <div class="circle"></div>
    </div>
    <app-about></app-about>
  </div>
    <app-experience></app-experience>
  <app-education></app-education>
  <div class="container">
    <div class="circle-container">
      <div class="circle"></div>
    </div>
    <div class="circle-container">
      <div class="circle"></div>
    </div>
    <div class="circle-container">
      <div class="circle"></div>
    </div>
    <div class="circle-container">
      <div class="circle"></div>
    </div>
    <div class="circle-container">
      <div class="circle"></div>
    </div>
    <div class="circle-container">
      <div class="circle"></div>
    </div>
    <div class="circle-container">
      <div class="circle"></div>
    </div>
    <div class="circle-container">
      <div class="circle"></div>
    </div>
    <div class="circle-container">
      <div class="circle"></div>
    </div>
    <div class="circle-container">
      <div class="circle"></div>
    </div>
    <div class="circle-container">
      <div class="circle"></div>
    </div>
    <div class="circle-container">
      <div class="circle"></div>
    </div>
    <div class="circle-container">
      <div class="circle"></div>
    </div>
    <div class="circle-container">
      <div class="circle"></div>
    </div>
    <div class="circle-container">
      <div class="circle"></div>
    </div>
    <div class="circle-container">
      <div class="circle"></div>
    </div>
    <div class="circle-container">
      <div class="circle"></div>
    </div>
    <div class="circle-container">
      <div class="circle"></div>
    </div>
    <div class="circle-container">
      <div class="circle"></div>
    </div>
    <div class="circle-container">
      <div class="circle"></div>
    </div>
    <div class="circle-container">
      <div class="circle"></div>
    </div>
    <div class="circle-container">
      <div class="circle"></div>
    </div>
    <div class="circle-container">
      <div class="circle"></div>
    </div>
    <div class="circle-container">
      <div class="circle"></div>
    </div>
    <div class="circle-container">
      <div class="circle"></div>
    </div>
    <div class="circle-container">
      <div class="circle"></div>
    </div>
    <div class="circle-container">
      <div class="circle"></div>
    </div>
    <div class="circle-container">
      <div class="circle"></div>
    </div>
    <div class="circle-container">
      <div class="circle"></div>
    </div>
    <div class="circle-container">
      <div class="circle"></div>
    </div>
    <div class="circle-container">
      <div class="circle"></div>
    </div>
    <div class="circle-container">
      <div class="circle"></div>
    </div>
    <div class="circle-container">
      <div class="circle"></div>
    </div>
    <div class="circle-container">
      <div class="circle"></div>
    </div>
    <div class="circle-container">
      <div class="circle"></div>
    </div>
    <div class="circle-container">
      <div class="circle"></div>
    </div>
    <div class="circle-container">
      <div class="circle"></div>
    </div>
    <div class="circle-container">
      <div class="circle"></div>
    </div>
    <div class="circle-container">
      <div class="circle"></div>
    </div>
    <div class="circle-container">
      <div class="circle"></div>
    </div>
    <div class="circle-container">
      <div class="circle"></div>
    </div>
    <div class="circle-container">
      <div class="circle"></div>
    </div>
    <div class="circle-container">
      <div class="circle"></div>
    </div>
    <div class="circle-container">
      <div class="circle"></div>
    </div>
    <div class="circle-container">
      <div class="circle"></div>
    </div>
    <div class="circle-container">
      <div class="circle"></div>
    </div>
    <div class="circle-container">
      <div class="circle"></div>
    </div>
    <div class="circle-container">
      <div class="circle"></div>
    </div>
    <div class="circle-container">
      <div class="circle"></div>
    </div>
    <div class="circle-container">
      <div class="circle"></div>
    </div>
    <div class="circle-container">
      <div class="circle"></div>
    </div>
    <div class="circle-container">
      <div class="circle"></div>
    </div>
    <div class="circle-container">
      <div class="circle"></div>
    </div>
    <div class="circle-container">
      <div class="circle"></div>
    </div>
    <div class="circle-container">
      <div class="circle"></div>
    </div>
    <div class="circle-container">
      <div class="circle"></div>
    </div>
    <div class="circle-container">
      <div class="circle"></div>
    </div>
    <div class="circle-container">
      <div class="circle"></div>
    </div>
    <div class="circle-container">
      <div class="circle"></div>
    </div>
    <div class="circle-container">
      <div class="circle"></div>
    </div>
    <div class="circle-container">
      <div class="circle"></div>
    </div>
    <div class="circle-container">
      <div class="circle"></div>
    </div>
    <div class="circle-container">
      <div class="circle"></div>
    </div>
    <div class="circle-container">
      <div class="circle"></div>
    </div>
    <div class="circle-container">
      <div class="circle"></div>
    </div>
    <div class="circle-container">
      <div class="circle"></div>
    </div>
    <div class="circle-container">
      <div class="circle"></div>
    </div>
    <div class="circle-container">
      <div class="circle"></div>
    </div>
    <div class="circle-container">
      <div class="circle"></div>
    </div>
    <div class="circle-container">
      <div class="circle"></div>
    </div>
    <div class="circle-container">
      <div class="circle"></div>
    </div>
    <div class="circle-container">
      <div class="circle"></div>
    </div>
    <div class="circle-container">
      <div class="circle"></div>
    </div>
    <div class="circle-container">
      <div class="circle"></div>
    </div>
    <div class="circle-container">
      <div class="circle"></div>
    </div>
    <div class="circle-container">
      <div class="circle"></div>
    </div>
    <div class="circle-container">
      <div class="circle"></div>
    </div>
    <div class="circle-container">
      <div class="circle"></div>
    </div>
    <div class="circle-container">
      <div class="circle"></div>
    </div>
    <div class="circle-container">
      <div class="circle"></div>
    </div>
    <div class="circle-container">
      <div class="circle"></div>
    </div>
    <div class="circle-container">
      <div class="circle"></div>
    </div>
    <div class="circle-container">
      <div class="circle"></div>
    </div>
    <div class="circle-container">
      <div class="circle"></div>
    </div>
    <div class="circle-container">
      <div class="circle"></div>
    </div>
    <div class="circle-container">
      <div class="circle"></div>
    </div>
    <div class="circle-container">
      <div class="circle"></div>
    </div>
    <div class="circle-container">
      <div class="circle"></div>
    </div>
    <div class="circle-container">
      <div class="circle"></div>
    </div>
    <div class="circle-container">
      <div class="circle"></div>
    </div>
    <div class="circle-container">
      <div class="circle"></div>
    </div>
    <div class="circle-container">
      <div class="circle"></div>
    </div>
    <div class="circle-container">
      <div class="circle"></div>
    </div>
    <div class="circle-container">
      <div class="circle"></div>
    </div>
    <div class="circle-container">
      <div class="circle"></div>
    </div>
    <div class="circle-container">
      <div class="circle"></div>
    </div>
    <div class="circle-container">
      <div class="circle"></div>
    </div>
    <div class="circle-container">
      <div class="circle"></div>
    </div>
    <div class="circle-container">
      <div class="circle"></div>
    </div>
    <div class="circle-container">
      <div class="circle"></div>
    </div>
    <app-projects></app-projects>
  </div>
    <app-contact></app-contact>
</main>

